.nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: min-content;
  grid-area: n;
  background-image: linear-gradient(#0f151c, #131e27);
  box-shadow: 0px 4px 4px 0px #3dafec;
  border-radius: 10px;
  padding: 15px;
  font-weight: 600;
}

.nav.light {
  background-image: linear-gradient(#fafafa, #e5e5e5);
  box-shadow: 0px 4px 2px 0px #3dafec;
  color: black;
}

.nav.light .item {
  color: black;
}

.item {
  color: white;
  font-size: 20px;
  text-decoration: none;
  transition: ease 200ms;
  min-width: 30px;
}

.item:hover {
  color: #5fa0c2;
}

.icon {
  display: none;
}

.active {
  color: #3dafec;
  text-shadow: 0px 0px 1px rgb(61, 175, 236);
}

.friendsLine {
  width: 110%;
  height: 1px;
  background: #3dafec;
  box-shadow: 0 0px 1px 0px #3dafec;
}

.navFriendsWrapper {
  width: 100%;
  margin-top: 100px;
  font-size: 30px;
}

.column {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  flex-direction: column;
}

.row {
  display: flex;
  gap: 20px;
}

.navFriendsItem {
  font-size: 12px;
  font-weight: 400 !important;
  padding: 5px;
  box-shadow: 0px 2px 2px 0px #3dafec;
  border-radius: 10px;
  cursor: pointer;
  transition: ease 200ms;
  scale: 1.1;
}

.navFriendsItem:hover {
  box-shadow: 0px 0px 1px 0px #3dafec, 0px -68px 20px -40px #3dafec inset;
  scale: 1.2;
}

.navFriendsItem div {
  border-radius: 25px;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  overflow: hidden;
}

.navFriendsItem div img {
  width: 30px;
}

@media (max-width: 800px) {
  .nav {
    position: absolute;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    bottom: 0;
    height: 70px;
    padding: 20px;
    box-shadow: 0px 9px 12px 13px #3dafec;
    border-radius: 0;
  }

  .navFriendsWrapper {
    display: none;
  }

  .nav.hide {
    display: none;
  }

  .item {
    font-size: 0;
  }

  .item path {
    stroke: white;
  }

  .icon {
    display: block;
  }

  .item:hover path {
    stroke: #5fa0c2;
  }
}
