.appWrapper {
  padding: 0 5%;
  position: relative;
  display: grid;
  width: 90%;
  height: calc(100vh - 15px);
  padding-top: 15px;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
  background-color: #0f151c;
  color: white;
}

.appWrapper.light {
  background-color: white;
  color: #0f151c;
}

* {
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
}

.content {
  grid-area: c;
  /* background-color: rgb(242, 242, 242); */
}
