.app-wrapper {
  margin: 0 auto;
  position: relative;
  display: grid;
  width: 90%;
  margin-top: 15px;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 20px;
}

* {
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
}

.content {
  grid-area: c;
  /* background-color: rgb(242, 242, 242); */
}
